<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         failOnNotice="true"
         failOnDeprecation="true"
         failOnPhpunitDeprecation="true"
         failOnPhpunitWarning="true"
         failOnIncomplete="true"
         failOnSkipped="true"
         failOnEmptyTestSuite="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutChangesToGlobalState="true"
         stopOnFailure="false"
         executionOrder="random"
         resolveDependencies="true"
         cacheDirectory=".phpunit.cache"
         enforceTimeLimit="true"
         defaultTimeLimit="10"
         timeoutForSmallTests="2"
         timeoutForMediumTests="5"
         timeoutForLargeTests="10">

    <groups>
        <exclude>
            <group>e2e</group>
            <group>network</group>
            <group>playground</group>
            <group>doctrine</group>
        </exclude>
    </groups>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="default_socket_timeout" value="10"/>
        <ini name="max_execution_time" value="15"/>
    </php>

    <testsuites>
        <testsuite name="Kernel">
            <directory>libs/Kernel/tests</directory>
        </testsuite>
        <testsuite name="API">
            <directory>libs/API/tests</directory>
        </testsuite>
        <testsuite name="Cli">
            <directory>libs/Cli/tests</directory>
        </testsuite>
        <testsuite name="FrontendAssets">
            <directory>libs/FrontendAssets/tests</directory>
        </testsuite>
        <testsuite name="Adapter-Symfony">
            <directory>libs/Adapter/Symfony/tests</directory>
        </testsuite>
        <testsuite name="Adapter-Yii3">
            <directory>libs/Adapter/Yii3/tests</directory>
        </testsuite>
        <testsuite name="Adapter-Laravel">
            <directory>libs/Adapter/Laravel/tests</directory>
        </testsuite>
        <testsuite name="Adapter-Yii2">
            <directory>libs/Adapter/Yii2/tests</directory>
        </testsuite>
        <testsuite name="Adapter-Cycle">
            <directory>libs/Adapter/Cycle/tests</directory>
        </testsuite>
        <testsuite name="McpServer">
            <directory>libs/McpServer/tests</directory>
        </testsuite>
        <testsuite name="E2E">
            <directory>tests/E2E</directory>
        </testsuite>
        <testsuite name="Testing">
            <directory>libs/Testing/tests/Unit</directory>
        </testsuite>
        <testsuite name="Fixtures">
            <directory>libs/Testing/tests/E2E</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>libs/Kernel/src</directory>
            <directory>libs/API/src</directory>
            <directory>libs/Cli/src</directory>
            <directory>libs/Adapter/Symfony/src</directory>
            <directory>libs/Adapter/Yii3/src</directory>
            <directory>libs/Adapter/Laravel/src</directory>
            <directory>libs/Adapter/Yii2/src</directory>
            <directory>libs/McpServer/src</directory>
            <directory>libs/Adapter/Cycle/src</directory>
        </include>
    </source>
</phpunit>
