<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         executionOrder="random"
         failOnRisky="true"
         failOnWarning="true"
         stopOnFailure="false"
         colors="true"
         enforceTimeLimit="true"
         defaultTimeLimit="10"
         timeoutForSmallTests="2"
         timeoutForMediumTests="5"
         timeoutForLargeTests="10"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="default_socket_timeout" value="10"/>
        <ini name="max_execution_time" value="15"/>
    </php>

    <testsuites>
        <testsuite name="Yii Debug tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./src</directory>
            <directory suffix=".php">./config</directory>
        </include>
    </source>
</phpunit>
