<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/yii-debug/tests" />
        <option value="$PROJECT_DIR$/libs/Adapter/Yiisoft/tests" />
        <option value="$PROJECT_DIR$/playground/yiisoft-app/vendor/nikic/fast-route/test" />
        <option value="$PROJECT_DIR$/libs/API/tests" />
      </list>
    </option>
  </component>
</project>