<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/yii-debug/tests" />
        <option value="$PROJECT_DIR$/libs/Kernel/tests" />
        <option value="$PROJECT_DIR$/libs/Cli/tests" />
        <option value="$PROJECT_DIR$/libs/Adapter/Symfony/tests" />
        <option value="$PROJECT_DIR$/libs/Adapter/Laravel/tests" />
        <option value="$PROJECT_DIR$/libs/Adapter/Yii2/tests" />
        <option value="$PROJECT_DIR$/tests" />
        <option value="$PROJECT_DIR$/libs/Testing" />
        <option value="$PROJECT_DIR$/libs/Adapter/Yii3/tests" />
        <option value="$PROJECT_DIR$/libs/API/tests" />
      </list>
    </option>
  </component>
</project>